.productSearch_inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .productSearchCard {
    position: relative;
    width: 600px;
    padding: 71px 89px 117px 65px;
    background: #F3F6F8;
    border-radius: 6px;
}
.productSearch_title {
    max-width: 410px;
    color: #000;
    font-family: var(--font-family);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 33px;
    margin-bottom: 34px;
}
.productName_input {
    border-radius: 6px;
    border: 1px solid #DDD;
    background: #FFF;
    color: #121212;
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 22px;
    margin-bottom: 20px;
    width: 457px;
  }
.productSearch_button {
    color: #121212;
    font-family: SF Pro Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    border-radius: 6px;
    background: #FFF;
    padding: 20px 30px;
    margin-bottom: 45px;
    cursor: pointer;
}
.selectCategory_box select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
@media screen and (max-width: 1536px) {
    .productSearch_button {
      margin-bottom: 65px;
    }
}
.search_boxImage {
    position: absolute;
    bottom: 0;
    right: 0;
}
.selectCategory {
    border-radius: 6px;
    background: #FFF;
    padding: 22px 22px 26px 22px;
    width: 436px;
    color: #121212;
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.selectCategory option {
    padding: 20px;
}
.selectCategory_box {
    position: relative;
    border-radius: 6px;
    border: 1px solid #DDD;
    background: #FFF;
    padding-right: 22px;
    width: 446px;
    margin-bottom: 8px;
}
.selectIcon {
    position: absolute;
    right: 10px;
    top: 22px;
}
.filterTitle {
    color: #121212;
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
@media screen and (max-width: 820px) {
    .productSearchCard {
        width: 728px;
    }
}
@media screen and (max-width: 740px) {
    .productSearch_title {
        text-align: center;
        max-width: 285px;
    }
    .productSearchCard {
        width: 355px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 71px 8px 117px 8px;
    }
    .selectCategory_box {
        width: 330px;
    }
    .selectCategory {
        width: 325px;
    }
    .productSearch_inputs {
        align-items: center;
        justify-content: center;
    }
    .productName_input {
        width: 330px;
    }
    .productSearch_button {
        width: 300px;
    }
}
@media screen and (max-width: 370px) {
    .productSearchCard {
        width: 310px;
    }
    .selectCategory_box {
        width: 290px;
    }
    .selectCategory {
        width: 290px;
    }
    .productSearch_inputs {
        align-items: center;
        justify-content: center;
    }
    .productName_input {
        width: 290px;
    }
    .productSearch_button {
        width: 290px;
    }
}
.selectCategory_box1 {
    position: relative;
    border-radius: 6px;
    border: 1px solid #DDD;
    background: #FFF;
    padding-right: 22px;
    width: 446px;
    margin-bottom: 8px;
    padding: 22px 26px;
}
.custom1 {
    position: absolute;
    z-index: 2;
    border-radius: 6px;
    border: 1px solid #DDD;
    background: #FFF;
    width: 446px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
}
.custom2 {
    cursor: pointer;
    padding: 20px 26px;
    /* border-radius: 6px; */
    border-bottom: 1px #DDD solid;
}
.custom2:hover {
    background-color: #1876F2;
    color: #FFF;
    border-bottom: none;
}