.productsTitle {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 24px;
}

.productsList {
  display: grid;
  grid-template-columns: repeat(4, minmax(174px, 1fr));
  gap: 20px;
  margin-bottom: 100px;
}


@media screen and (max-width: 900px) {
  .productsList {
    grid-template-columns: repeat(3, minmax(174px, 1fr));
  }
}

@media screen and (max-width: 620px) {
  .productsList {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    gap: 8px;
  }
}


@media screen and (max-width: 320px) {
  .productsList {
    grid-template-columns: 1fr;
    gap: 8px;
  }
}