.formContainer {
  background-color: #fff;
  padding: 50px 58px 45px 44px;
  border-radius: 8px;
}
.formClient_name {
  padding: 20px;
  width: 400px;
  border-radius: 5px;
  border: 1px solid #E1E1E1;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  font-family: var(--font-family);
  margin-bottom: 12px;
}
.heroForm_title {
  max-width: 356px;
  color: #121212;
  font-family: var(--font-family);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 25px;
}
.formInput_name {
  color: #000;
  font-family: var(--font-family);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  margin-left: 10px;
}
.heroForm_button {
  display: block;
  width: 173px;
  padding: 20px 42px;
  color: #fff;
  border-radius: 6px;
  background: #1876F2;
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
@media screen and (max-width: 800px) {
  .formContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .heroForm_title {
    max-width: 286px;
  }
  .formClient_name {
    width: 335px;
  }
  .formContainer {
    padding: 50px 10px;
  }
  .heroForm_button {
    width: 335px;
  }
}
@media screen and (max-width: 340px) {
  .formClient_name {
    width: 300px;
  }
  .formClient_name {
    width: 300px;
  }
  .heroForm_button {
    width: 300px;
  }
}