.logo {
    width: 229px;
    margin-left: 257px;
    margin-top: 24px;
}
.about {
    padding-top: 100px;
    padding-bottom: 200px;
}
.aboutMain {
    display: flex;
    margin-bottom: 44px;
}
.aboutTitle {
    color: #000;
    font-family: SF Pro Display;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 631px;
    margin-bottom: 21px;
}
.aboutText {
    color: #000;
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    opacity: 0.6;
    max-width: 616px;
}
.aboutImage {
    margin-bottom: 92px;
}
.aboutB2b {
    margin-bottom: 131px;
}
.productSearch {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

@media screen and (max-width: 1150px) {
    .aboutMain {
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .aboutImage {
        width: 728px;
    }
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .logo {
        margin-left: 0;
    }
    .productSearch {
        flex-direction: column;
        width: 728px;
        gap: 20px;
    }
    .aboutContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 66px;
        width: 355px;
    }
    .aboutImage {
        width: 355px;
    }
}
@media screen and (max-width: 740px) {
    .aboutTitle {
        font-size: 32px;
        width: 355px;
    }
    .productSearch {
        align-items: center;
    }
    
}