.checkboxLabel {
    display: flex;
    justify-content: space-between;
}
.checkboxItem {
    display: flex;
    gap: 6px;
    color: #000;
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
}
.productNumber {
    color: #1876F2;
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}