.productCategoryContainer {
  padding-top: 117px;
}
.categoryTitle {

}
.productCategory_title {
  width: 511px;
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 59px;
}
.productImage_bg {
  position: relative;
  width: 70px;
  height: 70px;
  background-image: url(@assets/images/threadRound.png);
  border-radius: 50%;
  margin-bottom: 18px;
}
.productImage_bg img {
  position: absolute;
  bottom: 0;
}
.productImage2_bg img {
  width: 270px;
  height: 100px;
  object-fit: cover;
  object-position: center center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.categoryContent {
  padding: 0 20px;
}

.productCategory_box {
  display: flex;
  /* flex-wrap: wrap;   */
  /* gap: 20px; */
  justify-content: center;
  /* column-gap: 50px; */
}
.productCategory_name {
  color: #121212;
  font-family: var(--font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /* margin-bottom: 23px; */
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.productCategory_text {
  color: #000;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* margin-bottom: 12px; */
  padding: 20px;
  cursor: pointer;
}
.productCategory_text:hover {
  background-color: #f3f4f5;
}
.productCategory_card {
  /* margin-right: 76px; */
  margin-bottom: 81px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  width: 272px;
  min-height: 408px;
}

@media screen and (max-width: 870px) {
  .productCategoryContainer {
    /* text-align: center; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    /* justify-content: center; */
  }
  .productCategory_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
    min-height: 393px;
  }
  .productCategory_box {
    align-items: center;
    text-align: center;
    justify-content: center;
    /* gap: 100px; */
  }
}
@media screen and (max-width: 500px) {
  .productCategoryContainer {
    padding-top: 84px;
  }
  /* .productCategory_box {
    gap: 72px;
  } */
  .productCategory_card {
    margin-bottom: 0;
  }
  .categoryTitle {
    justify-content: center;
  }
  .productCategory_title {
    /* width: 310px; */
    text-align: center;
  }
}
@media screen and (max-width: 370px) {
  .productCategory_title {
    width: 310px;
  }
}