.layoutBg {
  background-color: #F6F6FA;
}

.aboutContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
}
.aboutContent {
  padding-top: 70px;
}
.aboutTitle {
  color: #000;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 24px;
}
.aboutText {
  max-width: 625px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  opacity: 0.8;
}

@media screen and (max-width: 820px) {
  .aboutContainer {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .aboutContent {
    margin-bottom: 59px;
  }
}
@media screen and (max-width: 500px) {
  .aboutContent {
    display: none;
  }
}
@media screen and (max-width: 370px) {
  .aboutImage {
    width: 310px;
  }
}