.faqContainer {
  padding-top: 100px;
  padding-bottom: 103px;
}
.faqTitle {
  color: #000;
  font-family: var(--font-family);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 54px;
}
.faqText {
  max-width: 713px;
  color: #000;
  font-family: var(--font-family);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
}
.faqButton {
  width: 78px;
  height: 78px;
  background: white;
  border: 1px solid #DDD;
  border-radius: 50%;
  flex-shrink: 0;
  margin-left: 17px;
}
.faqButton:hover {
  cursor: pointer;
}
.faqQuestion {
  display: flex;
  justify-content: space-between;
  padding: 29px 0 34px 20px;
  align-items: center;
}

.accordionWrapper {
  width: 100%;
  border-bottom: 1px solid #DDD;
}
.content {
  border-top: 1px solid #DDD;
  padding-top: 10px;
  margin: 0 20px 34px;
}

@media screen and (max-width: 425px) {
  .faqText {
    font-size: 16px;
  }
  .faqButton {
    width: 48px;
    height: 48px;
  }
}
@media screen and (max-width: 820px) {
  .faqContainer {
    padding-top: 57px;
  }
}