.productSearch_container {
  padding-top: 100px;
  padding-bottom: 89px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 990px) {
  .productSearch_container {
    justify-content: center;
    gap: 32px;
  }
}
@media screen and (max-width: 500px) {
  .productSearch_container {
    padding-top: 0;
  }
}