.placeFilter {
    position: relative;
    width: 292px;
    border-radius: 4px;
    border: 1px solid #DDD;
    padding: 21px 21px 20px 18px; 
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 20px;
    align-items: center;
    user-select: none;
}
.filterName {
    font-family: SF Pro Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: #1F1914;
}
.placeCheckboxes {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #DDD;
    background: #FFF;
    padding: 26px 20px 40px 16px;
    gap: 28px;
    margin-top: 9px;
    width: 292px;  
    z-index: 2;
    margin-bottom: 20px;
}