.layoutBg {
  background-color: #F6F6FA;
}

.newProductContainer {
  padding-top: 102px;
  padding-bottom: 122px;

}

.newProduct_title {
  color: #000;
  font-family: var(--font-family);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 32px;
}

.newProductBox {
  display: flex;
  justify-content: space-between;
  position: relative;
}


.newProduct_button {
  padding: 20px 36px;
  margin-top: 60px;
  background-color: #FFFFFF;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}

.arrowIcon_left {
  position: absolute;
  top: 155px;
  margin-left: -33px;
  width: 66px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  fill: #FFF;
  filter: drop-shadow(-2px 4px 24px rgba(0, 0, 0, 0.10));
}

.arrowIcon_left:hover {
  cursor: pointer;
}

.arrowIcon_right {
  position: absolute;
  top: 155px;
  right: 0;
  margin-right: -33px;
  width: 66px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  fill: #FFF;
  filter: drop-shadow(-2px 4px 24px rgba(0, 0, 0, 0.10));
}

.arrowIcon_right:hover {
  cursor: pointer;
}
.productCards {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
@media screen and (max-width: 920px) {
  .newProductContainer {
    text-align: center;
  }
  .productCards {
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .newProductContainer {
    padding-top: 68px;
    padding-bottom: 62px;
  }
}