.newProductBox {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.newProduct_card {
  max-width: 292px;
  text-align: center;

}

@media screen and (max-width: 1536px) {
  .newProduct_card {
    text-align: center;
  }
}

@media screen and (max-width: 1536px) {
  .newProduct_image {
    padding: 31px 27px;
  }
}

.newProduct_image {
  padding: 51px 46px;
  background-color: #fff;
  margin-bottom: 17px;
}

.productCard_name {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 5px;
  text-align: center;
}

@media screen and (max-width: 1536px) {
  .productCard_name {
    text-align: center;
    max-width: 200px;
    margin-left: 25px;
  }
}
.productCard_category {
  color: #1876F2;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 14px;
}
.arrowIcon_left {
  position: absolute;
  top: 155px;
  margin-left: -33px;
  width: 66px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  fill: #FFF;
  filter: drop-shadow(-2px 4px 24px rgba(0, 0, 0, 0.10));
}

.arrowIcon_left:hover {
  cursor: pointer;
}

.arrowIcon_right {
  position: absolute;
  top: 155px;
  right: 0;
  margin-right: -33px;
  width: 66px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  fill: #FFF;
  filter: drop-shadow(-2px 4px 24px rgba(0, 0, 0, 0.10));
}

.arrowIcon_right:hover {
  cursor: pointer;
}