.newProductBox {
  display: flex;
  justify-content: space-between;
  position: relative;

}

.newProduct_card {
  max-width: 292px;
  min-height: 400px;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}
/*   
@media screen and (max-width: 1536px) {
  .newProduct_card {
    
  }
} */

.newProduct_image {
  /*padding: 51px 46px;*/
  /* border: 1px solid #E1E1E1; */
  background-color: #fff;
  margin-bottom: 17px;
  max-height: 327px;

}

.newProduct_img{
  width: 100% ;
  height: 325px;
  object-fit: cover;
  object-position: center center;
}

.productCard_name {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 5px;
  text-align: center;
}


.productCard_category {
  color: #1876F2;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 14px;
}

@media screen and (max-width: 820px) {
  .newProduct_card {
    width: 100%;
    max-width: 350px;
  }
}
@media screen and (max-width: 500px) {
  .newProduct_card {
    margin-left: 20px;
  }
}

@media screen and (max-width: 600px) {
  .newProduct_img {
    height: 205px;
  }
  
}
@media screen and (max-width: 410px) {
  .newProduct_card {
    margin-left: 10px;
  }
}
@media screen and (max-width: 370px) {
  .newProduct_card {
    margin-left: 0;
  }
}