.newProductBox {
  display: flex;
  justify-content: space-between;
  position: relative;

}

.newProduct_card {
  width: 368px;
  height: 418px;
  text-align: start;
  cursor: pointer;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}
/*   
@media screen and (max-width: 1536px) {
  .newProduct_card {
    
  }
} */

.newProduct_image {
  /*padding: 51px 46px;*/
  /* border: 1px solid #E1E1E1; */
  background-color: #fff;
  margin-bottom: 17px;
  max-height: 327px;

}

.newProduct_img{
  width: 100% ;
  height: 200px;
  object-fit: cover;
  /* object-position: center center; */
}

.productCard_name {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 5px;
  font-weight: 700;
  /* text-align: center; */
}
.productDescription {
  opacity: 0.9;
  font-size: 15px;
}

.productCard_category {
  color: #1876F2;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 14px;
}

.company {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  font-weight: 400;
  letter-spacing: 0.7px;
  font-size: 14px;
}
.country {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
  font-size: 13px;
  
}
@media screen and (max-width: 1100px){
  .newProduct_card {
    height: 440px;
  }
}

@media screen and (max-width: 950px) {
  .newProduct_card {
    width: 368px;
    max-width: 350px;
    height: 450px;
  }
}
@media screen and (max-width: 840px) {
  .newProduct_card {
    height: 420px;
  }
}
@media screen and (max-width: 705px) {
  .newProduct_card {
    height: 430px;
  }
}

@media screen and (max-width: 610px) {
  .newProduct_img {
    height: 205px;
  }
  .newProduct_card {
    height: 455px;
  }
}
@media screen and (max-width: 500px) {
  .newProduct_card {
    height: 430px;
  }
}
@media screen and (max-width: 395px) {
  .newProduct_card {
    max-width: 300px;
    height: 461px;
  }

}
@media screen and (max-width: 370px) {
  .newProduct_card {
    margin-left: 0;
    max-width: 272px;
    height: 440px;
  }
}