.companyDetails {
    display: flex;
    margin-bottom: 40px;
}
.active {
    padding: 20px;
    cursor: pointer;
    color: #000;
    font-family: SF Pro Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
    border-bottom: 2px solid #1876f2;
    user-select: none;
}
.notActive {
    padding: 20px;
    cursor: pointer;
    color: #000;
    font-family: SF Pro Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
    user-select: none;
}
.active:hover  {
    background-color: #e5e8eb;
}
.notActive:hover {
    background-color: #e5e8eb;
}
.infoBlock {
    max-width: 1000px;
    margin-bottom: 100px;
} 
.infoText {
    max-width: 750px;
    margin-bottom: 20px;
}
.keyInfo {
    width: 100%;
    padding: 20px;
    /* box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12); */
    border: 1px solid #DDD;
    border-radius: 4px;
}
.keyInfoTitle {
    margin-bottom: 20px;
    color: gray;
}
.details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    /* padding: 20px 0; */
}
.businessType {
    display: flex;
    gap: 10px;
    width: 152px;
}
.infoItem {
    margin-bottom: 7px;
    font-weight: 700;
}
