.container {
  padding: 115px 0 200px;
}

.wrapper {
  max-width: 776px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}

.title {
  max-width: 495px;
  font-size: 42px;
  font-weight: 500;
}

.img {
  margin-right: auto;
}

.list {
  padding-left: 20px;
  margin-bottom: 115px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.list li {
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
}

@media screen and (max-width: 550px) {
  .container {
    padding: 56px 0 30px;
  }
  .content {
    flex-direction: column-reverse;
  }

  .title {
    text-align: center;
    font-size: 32px;
  }

  .img {
    margin: 0;
    margin-bottom: 50px;
  }
}