.trustContainer {
  padding-top: 100px;
  padding-bottom: 112px;
}
.trustTitle {
  color: #000;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 58px;
}
.aboutImages {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  /* justify-content: space-between; */
}
.trustImage {
  width: 200px;
  height: 120px;
}
@media screen and (max-width: 820px) {
  .trustContainer {
    text-align: center;
  }
  .aboutImages {
    row-gap: 70px;
    column-gap: 83px;
    flex-wrap: wrap;
    padding: 22px 39px;
  }
}
@media screen and (max-width: 500px) {
  .trustContainer {
    padding-top: 100px;
    padding-bottom: 93px;
  }
  .trustTitle {
    font-size: 32px;
  }
}
@media screen and (max-width: 395px) {
  .aboutImages {
    justify-content: center;
  }
}