.line {
    background: #E1E1E1;
    height: 2px;
    width: 1220px;
}
.productScripts {
    display: flex;
    max-width: 493px;
    margin-bottom: 47px;
    gap: 56px;
}
.active {
    color: #1876F2;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
    border-top: 2px solid c;
    padding-top: 18px;
    margin-top: -1px;
}
.notActive {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
    cursor: pointer;
    padding-top: 18px;
}
.ProductComment_box {
    margin-bottom: 250px;
}
@media screen and (max-width: 1150px) {
    .line {
        width: 728px;
    }
}
@media screen and (max-width: 740px) {
    .line {
        width: 355px;
    }
    .ProductComment_box {
        width: 355px;
    }
    .ProductComment_box {
        margin-bottom: 111px;
    }
} 

@media screen and (max-width: 500px) {
    .line {
        width: 300px;
    }
    .ProductComment_box {
        width: 300px;
        margin-bottom: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}