.filterBlock {
    display: flex;
    padding-top: 46px;
    padding-bottom: 600px;
}
@media screen and (max-width: 1150px) {
    .filterBlock {
        flex-direction: column;
    }
    .filterbox {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-bottom: 26px;
        position: relative;
    }
    
}
@media screen and (max-width: 840px) {
    .filterbox {
        flex-direction: column;
    }
}
@media screen and (max-width: 670px) {
    .filterbox {
        flex-direction: column;
    }
}