.header {
  max-width: 1320px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1000;
  background-color: #FFFFFF;
}

.headerWrapper {
  position: fixed;
  width: 100%;
  background-color: #FFFFFF;
  top: 0;
  left: 0;
  z-index: 100;
}

.headerLeft {
  max-width: 815px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  gap: 50px;
}


.headerRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.languageChange {
  display: flex;
  align-items: center;
  /* position: relative; */
}

.languageChange_select {
  font-size: 16px;
  margin-right: 14px;
  width: 40px;
  /* height: 50px; */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.languageChange_select1 {
  display: flex;
  margin-right: 20px;
  gap: 10px;
  cursor: pointer;
  user-select: none;
  position: relative;
}
.languageChange_select1 p {
  display: flex;
  align-items: center;
  gap: 3px;
}
.languageChange_select:active, :focus {
  outline: none;
  box-shadow: none;
}
.languageChange_select option {
  font: 16px Cursive;
  height: 50px 
}
.langDropdown {
  position: absolute;
  width: 60px;
  background-color: #fff;
  border: 1px solid #000;
  margin-top: 10px;
  border-radius: 5px;
}
.langItem {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.langItem svg {
  flex-shrink: 0;
  margin-right: 3px;
}
.langItem:hover {
  background-color: #1876f2;
  color: #fff;
}
.headerFisrtButton {
  background: #f5f5f5;
  padding: 20px 36px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 18px;
  margin: 0 16px 0 26px;
  
}
    
.headerFisrtButton:hover {
  cursor: pointer;
}

.headerSecondButton {
  flex-shrink: 0;
  background-color: #1876f2;
  padding: 15px 26px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.headerSecondButton:hover {
  cursor: pointer;
}

.menuBtn {
  display: none;
  padding: 18px;
  margin-left: 8px;
  border-radius: 6px;
  border: 1px solid #E1E1E1;
  background-color: transparent;
}
.headerMiniLogo {
  width: 60px;
}

@media screen and (max-width: 1270px){
  .header {
    padding: 20px 20px;
  }
}

@media screen and (max-width: 1150px) {
  .menuBtn {
    display: block;
  }

  .navbar {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .headerSecondButton {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .headerLogo {
    display: none;
  }
}
@media screen and (min-width: 701px) {
  .headerMiniLogo {
    display: none;
  }
}