.companyContact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 24px;
    border-radius: 4px;
    border: 1px solid #E1E1E1;
    gap: 52px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 680px;
}
.companyRating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 6px;
    margin-bottom: 15px;
    color: #EF7F00;
    font-size: 16px;
    font-weight: 400;
}
.companyStarIcon path {
    stroke: #EF7F00;
}
.companyName {
    overflow: hidden;
    color: #000;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 4px;
}
.companyProduct {
    overflow: hidden;
    color: #121212;
    font-size: 13px;
    font-weight: 400;
    opacity: 0.3;
    margin-bottom: 6px;
}
.companyInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.mailButton {
    border-radius: 6px;
    background: #1876F2;
    padding: 15px 20px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px;
    cursor: pointer;
}
.phoneButton {
    border-radius: 6px;
    background: #F5F5F5;
    color: #121212;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    padding: 15px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.companyImg {
    width: 77px;
    height: 77px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
    border-radius: 50%;
}
.btnWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
}
.btn {
    padding: 15px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 6px;
}
.primary {
    background-color: #1876F2;
    color: #FFF;
}
@media screen and (max-width: 1150px) {
    .companyContact {
        width: 728px;
    }
}
@media screen and (max-width: 740px) {
    .companyContact {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 355px;
        padding: 33px 16px;
    }
} 
@media screen and (max-width: 440px) {
    .companyContact {
        max-width: 300px;
    }
    .requestPopUp {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

    }
}