.productsCard {
    text-align: center;
    margin-bottom: 18px;
}
.productImage {
    margin-bottom: 17px;
    max-width: 292px;
    height: 325px;
    object-fit: cover;
    object-position: center center;
}
.productName {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 5px;
}
.productsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    gap: 15px;
}
@media screen and (max-width: 1150px) {
    .productsContainer {
        justify-content: center;
        margin-left: 0;
        gap: 20px;
    }
    
}
@media screen and (max-width: 1000px) {
    .productsCard {
        width: 355px;
    }
    .productImage {
        width: 355px;
    }
}
@media screen and (max-width: 580px) {
    .productsCard {
        width: 174px;
    }
    .productImage {
        width: 174px;
        height: 205px;
    }
    .productsContainer {
        gap: 8px;
    }
}