.carouselContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customPrevButton {
  position: absolute;
  top: 155px;
  margin-left: -33px;
  width: 66px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  fill: #FFF;
  filter: drop-shadow(-2px 4px 24px rgba(0, 0, 0, 0.10));
  cursor: pointer;
  z-index: 10000;
}

.customNextButton {
  position: absolute;
  top: 155px;
  right: 0;
  margin-right: -33px;
  width: 66px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  fill: #FFF;
  filter: drop-shadow(-2px 4px 24px rgba(0, 0, 0, 0.10));
  cursor: pointer;
  z-index: 500000;
}