.carouselContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.customPrevButton {
  position: absolute;
  top: 195px;
  left: 0;
  margin-left: -20px;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  fill: #FFF;
  filter: drop-shadow(-2px 4px 24px rgba(0, 0, 0, 0.10));
  cursor: pointer;
  z-index: 10000;
}

.customNextButton {
  position: absolute;
  top: 195px;
  right: 0;
  margin-right: -20px;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  fill: #FFF;
  filter: drop-shadow(-2px 4px 24px rgba(0, 0, 0, 0.10));
  cursor: pointer;
  z-index: 500000;
}
@media screen and (max-width: 500px) {
  .customNextButton {
    margin-right: 0;
    width: 36px;
    height: 36px;
  }
  .customPrevButton {
    margin-left: 0;
    width: 36px;
    height: 36px;
  }
  
}