.requestContainer {
    position: absolute;
    width: 60%;
    height: 615px;
    display: flex;
    background: #FFF;
    box-shadow: 8px 22px 144px 0 rgba(51, 56, 63, 0.13);
    border-radius: 4px;
    /* overflow-y: auto; */
}
.requestBg {
    position: relative;
    background-color: #F3F6F8;
    height: 615px;
    padding: 30px 36px;
    margin-right: 26px;
    
}
.requestTitle {
    max-width: 406px;
    color: #121212;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.requestImage {
    position: absolute;
    bottom: 0;
    right: 0;
}
.requestForm {
    margin-top: 30px;
    padding-right: 50px;
}
.closeIcon {
    position: absolute;
    top: 15px;
    right: 22px;
    cursor: pointer;
}

.wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
@media screen and (max-width: 1150px) {
    .requestImage {
        display: none;
    }
    .requestBg {
        background-color: #FFF;
        padding-bottom: 0;
        margin-right: 0;
        height: 150px;
    }
    .requestForm {
         padding: 0;
    }
    .requestContainer {
        flex-direction: column;
        align-items: center;
        width: 580px;
        height: 750px;
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 500px) {
    .requestTitle {
        width: 346px;
    }
    .requestContainer {
        width: 360px;
    }
    .requestBg {
        width: 360px;
        height: 100px;
    }

}


@media screen and (max-width: 380px) {
    .requestContainer {
        width: 340px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .requestTitle {
        width: 230px;
        font-size: 20px;
    }
    .requestBg {
        width: 300px;
    }

}
@media screen and (max-width: 340px) {
    .requestContainer {
        width: 300px;
    }
}