.countryInput {
    border: 1px solid #EEE;
    width: 292px;
    padding: 20px;
    font-size: 15px;
    border-radius: 4px;
    margin-bottom: 20px;
    /* color: #666; */
}
.countryInput::placeholder {
    color: #111;
  
}
.suggestionContainer {
    border: 1px solid #EEE;
    margin-bottom: 20px;
    max-height: 157px;
    overflow-y: auto;
    width: 292px;
}
.suggestionItem {
    padding: 10px 20px;
    cursor: pointer;
}
/* .suggestionList {
    margin-top: 20px;
} */
@media screen and (max-width: 1150px) {
    .countryInput {
        width: 312px;
        line-height: 24px;
        margin-bottom: 0;
    }
    .suggestionContainer {
        position: absolute;
        width: 312px;
        margin-top: 10px;
        background-color: #fff;
    }
}
@media screen and (max-width: 700px) {
    .countryInput {
        width: 400px;
    }
    .suggestionContainer {
        width: 400px;
    }
}
@media screen and (max-width: 440px) {
    .countryInput {
        width: 320px;
    }
    .suggestionContainer {
        width: 320px;
    }
}
@media screen and (max-width: 370px) {
    .countryInput {
        width: 300px;
    }
    .suggestionContainer {
        width: 300px;
    }
}