.heroBg {
  background: url('@assets/images/hero-background.png');
}
.heroContainer {
  padding: 87px 0;
  display: flex;
  justify-content: space-between;
}
.heroTitle {
  max-width: 584px;
  color: #fff;
  font-size: 64px;
  font-weight: 500;
  margin-bottom: 6px;
}
.heroText {
  max-width: 423px;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  opacity: 0.69;
  margin-bottom: 34px;
}
.heroProduct_select {
  padding: 20px 25px;
}
.heroProduct-category {
  display: flex;
}
.heroSearch {
  position: relative;
  display: flex;
  width: 334px;
  background-color: #fff;
  border-radius: 8px;
  align-items: center;
}
.heroCategory_search {
  max-width: 240px;
  padding: 20px 50px 20px 14px;
  border-radius: 8px;
  border-left: 1px solid #E1E1E1;
}
.heroSearch_button {
  position: absolute;
  right: 4px;
  width: 55px;
  background-color: #1876F2;
  border-radius: 8px;
  padding: 15px 20px;
  cursor: pointer;
}

.image {
  width: 46px;
  height: 46px;
  object-fit: cover;
  object-position: center center;
  border: 1px solid #E1E1E1;
  border-radius: 50%;
}
.searchResult {
  padding: 20px 18px;
  background-color: #fff;
  max-width: 334px;
  border-radius: 8px;
  margin-top: 5px;
  flex-direction: column;
  gap: 18px;
}
.searchResult_item {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}
.searchResult_item:hover {
  background-color: #F5F5F5;
}
.searchCompany_name {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.searchCompany_product {
  overflow: hidden;
  color: #121212;
  text-overflow: ellipsis;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.3;
}
@media screen and (max-width: 990px) {
  .heroContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .heroMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 54px;
  }
  .heroText {
    max-width: 423px;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .heroTitle {
    font-size: 42px;
    max-width: 364px;
  }
  .heroText {
    max-width: 323px;
  }
}
@media screen and (max-width: 340px) {
  .heroSearch {
    max-width: 300px;
  }
} 