.productImage_box {
    position: relative;
    /* padding: 67px 125px; */
    margin-bottom: 29px;
    max-width: 503px;
    border-radius: 4px;
    max-height: 392px;
}
.productImage {
    width: 501px;
    height: 390px;
    object-fit: contain;
}
.productTypes {
    max-width: 503px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 33px;
    row-gap: 20px;
}

.productTypes img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center center;
    border-radius: 100px;
    border: 1px solid #E1E1E1;
    cursor: pointer;
}

.blackBorder {
    border: 1px solid #000 !important;
}
.icon path{
    fill: white;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.2);
    cursor: pointer;
}

.btnLeft {
    left: 15px;
}

.btnRight {
    right: 15px;
}
@media screen and (max-width: 1150px) {
    .productImage {
        width: 728px;
        height: 506px;
        
    }
    .productImage_box {
        width: 728px;
        height: 506px;
        max-width: fit-content;
        margin-bottom: 130px;
    }
    .productTypes {
        max-width: 740px;
        column-gap: 48px;
        row-gap: 36px;
    }
}
@media screen and (max-width: 740px) {
    .productImage {
        width: 355px;
        height: 417px;
    }
    .productTypes {
        max-width: 355px;
        gap: 27px;
    }
    .productImage_box {
        margin-bottom: 39px;
    }
}
@media screen and (max-width: 400px) {
    .productImage_box {
        width: 300px;
    }
    .productImage {
        width: 300px;
    }
    .productTypes {
        max-width: 310px;
    }
}
