.filterContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
    padding-top: 32px;
}
.searchInput_box {
    position: relative;
    width: 247px;
    border-radius: 4px;
    border: 1px solid #DDD;
    padding: 21px 21px 20px 18px; 
}
.ratingFilter {
    position: relative;
    width: 217px;
    border-radius: 4px;
    border: 1px solid #DDD;
    padding: 21px 25px 20px 18px; 
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.companyMajor_box {
    position: relative;
    width: 247px;
    border-radius: 4px;
    border: 1px solid #DDD;
    padding: 21px 21px 20px 18px; 
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.placeFilter {
    position: relative;
    width: 257px;
    border-radius: 4px;
    border: 1px solid #DDD;
    padding: 21px 21px 20px 18px; 
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.searchInput {
    max-width: 247px;
    color: #121212;
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.searchIcon {
    position: absolute;
    right: 26px;
    top: 20px;
}
.companyMajor {
    max-width: 247px;
    color: #121212;
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-right: 14px;
}
.companyRating {
    color: #121212;
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-right: 19px;
}
.companyPlace {
    color: #121212;
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-right: 10px;
}
.filterButton {
    width: 225px;;
    border-radius: 6px;
    background: #1876F2;
    color: #FFF;
    font-family: SF Pro Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding: 20px 30px;
    cursor: pointer;
}
.filterCheckbox {
    max-width: 189px;
}
.checkboxes {
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #DDD;
    background: #FFF;
    padding: 26px 20px 40px 16px;
    gap: 28px;
    margin-top: 9px;
}
.placeCheckboxes {
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #DDD;
    background: #FFF;
    padding: 26px 20px 40px 16px;
    gap: 28px;
    margin-top: 9px;
    width: 257px;  
}
.ratingCheckboxes {
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #DDD;
    background: #FFF;
    padding: 26px 20px 40px 16px;
    gap: 28px;
    margin-top: 9px;
    width: 217px; 
}
.filterName {
    color: #121212;
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.ratingFilter {
    display: flex;
}