@font-face {
  font-family: "SF Pro Display";
  font-weight: 400;
  src: url("@assets/fonts/SF-Pro-Display-Regular.woff2") format("woff2"),
  url("@assets/fonts/SF-Pro-Display-Regular.woff") format("woff"),
  url("@assets/fonts/SF-Pro-Display-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 500;
  src: url("@assets/fonts/SF-Pro-Display-Medium.woff2") format("woff2"),
  url("@assets/fonts/SF-Pro-Display-Medium.woff") format("woff"),
  url("@assets/fonts/SF-Pro-Display-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 600;
  src: url("@assets/fonts/SF-Pro-Display-Semibold.woff2") format("woff2"),
  url("@assets/fonts/SF-Pro-Display-Semibold.woff") format("woff"),
  url("@assets/fonts/SF-Pro-Display-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 700;
  src: url("@assets/fonts/SF-Pro-Display-Bold.woff2") format("woff2"),
  url("@assets/fonts/SF-Pro-Display-Bold.woff") format("woff"),
  url("@assets/fonts/SF-Pro-Display-Bold.ttf") format("truetype");
}