.contactForm_title {
    color: #000;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 42px;
    max-width: 446px;
  }
  
  .contactForm_name_input {
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #E1E1E1;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 24px;
    /* opacity: 0.2; */
  }
  
  .contactForm_textarea {
    border-radius: 5px;
    border: 1px solid #E1E1E1;
    font-family: SF Pro Display;
    width: 400px;
    padding: 19px 20px 20px 13px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    max-height: 206px;
    margin-bottom: 24px;
  }
  
  .contactForm_p {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 13px;
  }
  
  .contactForm_btn {
    border-radius: 6px;
    background: #1876F2;
    padding: 20px 42px;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    display: block;
  }

@media screen and (max-width: 820px) {
  .contactForm_btn {
    width: 400px;
  }
}
@media screen and (max-width: 500px) {
  .contactForm_name_input {
    width: 355px;
  }
  .contactForm_textarea {
    width: 355px;
  }
  .contactForm_btn {
    width: 355px;
  }
}