.countrySelect {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #E1E1E1;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    font-family: var(--font-family);
    margin-bottom: 12px;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

.countrySelect_box {
  position: relative;
  width: 100%;
}
.countrySelect_box select {
  width: 100%;
}
.selectIcon {
  position: absolute;
  top: 15px;
  right: 10px;
}

@media screen and (max-width: 500px) {
  .countrySelect {
    width: 335px;
  }
  /* .selectIcon {
    right: 80px;
  } */
}
@media screen and (max-width: 400px) {
  /* .selectIcon {
    right: 40px;
  } */
}
@media screen and (max-width: 340px) {
  .countrySelect {
    width: 290px;
  }
  .selectIcon {
    right: 23px;
  }
}