.countrySelect {
    padding: 20px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid #E1E1E1;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    font-family: var(--font-family);
    margin-bottom: 12px;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  @media screen and (max-width: 500px) {
    .countrySelect {
      width: 335px;
    }
  }
  @media screen and (max-width: 340px) {
    .countrySelect {
      width: 290px;
    }
  }
.countrySelect_box {
  position: relative;
  
}
.selectIcon {
  position: absolute;
  top: 20px;
  right: 10px;
}

