.container {
  padding: 120px 0 190px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 75px;
}

.title {
  max-width: 515px;
  font-size: 42px;
  font-weight: 500;
}

.img {

}

@media screen and (max-width: 550px) {
  .container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header {
    flex-direction: column-reverse;
    margin: 0;
  }
  .title {
    text-align: center;
    font-size: 32px;
  }
}